<div class="content">

	<div class="search left">
		<form name="search" method="get" action="search.html" id="search">
		<input ng-model="searchProd" type="text" value="keywords" name="keyword"
			 placeholder="keywords" class="s0"  />
			<br />
			<select name="title" class="s2" ng-model="selectedProd"
			   ng-options="product.Sku for product in products | filter:searchProd ">
            </select>

			<br />
			<input type="submit" name="search" value="Search Products" class="button marT5" />
			<input type="hidden" name="page" value="search" />
		</form>
		<br /><br />
	</div>
	<div class="intro left">
	  <h3>About Us</h3><br/>
	  <p>Lorem ipsum dolor sit amet consectetuer. Lorem ipsum dolor sit amet consectetuer, Lorem ipsum dolor sit amet consectetuer
	  Lorem ipsum dolor sit amet consectetuer. Lorem ipsum dolor sit amet consectetuer. Lorem ipsum dolor sit amet consectetuer.
	  </p>
	</div>
	<br class="clear"/>
	<br/>
	
	<div class="product-list">
	<table>
 	  <tr ng-repeat="product in products |limitTo: 2" >
		<td width="50%">
		<p>
		   {{product.Desc}}
		</p>
		</td>
		<td width="50%">
		<img ng-src="{{product.Img}}" width="360" height="240" />
		</td>
	  </tr>
	
	  </tr>
	</table>
	</div><!-- product-list -->

<br class="clear-all"/>
</div><!-- content -->
