<div class="content">

	<div class="search left">
		<form name="search" method="get" action="search.html" id="search">
			<input ng-model="query" type="text" value="keywords" name="keyword"
			 placeholder="keywords" class="s0"  />
			<br />
			<select name="title" class="s2" ng-model="query"
			    ng-options="query as product.Fudge for product in products">
      </select>

	    <input type="submit" name="search" value="Search Products" class="button marT5" />
			<input type="hidden" name="page" value="search" />
		</form>
		<br /><br />
	</div>

	<div class="intro left">
	  <h3>About Us</h3><br/>
	  <p>Lorem ipsum dolor sit amet consectetuer. Lorem ipsum dolor sit amet consectetuer, Lorem ipsum dolor sit amet consectetuer
	  Lorem ipsum dolor sit amet consectetuer. Lorem ipsum dolor sit amet consectetuer. Lorem ipsum dolor sit amet consectetuer.
	  <a href="about.html">Read More</a>
	  </p>
	</div>
	<br class="clear"/>
	<br/>
  <div class="product-list">
		<h2>Some Specials</h2>
	   <ul class="specials">
       <li ng-repeat="special in specials |limitTo: 3">
				 <div class="image">
					 <a href="detail.html">
						 <img src ="{{special.Img}}" alt="{{special.Fudge}}" width="190" height="130"/>
					 </a>
				 </div>
				 <div class="detail">
					  <p class="name"> <a href="detail.html">{{special.Fudge}} </a></p>
						<p class="view"> <a href="detail.html">purchase</a> | <a href="detail.html">view details >></a></p>
				</div>
       </li>
     </ul>
	<br class="clear-all"/>
</div>
</div><!-- content -->
