<div class="content">

<br/>

	<h2>Our Members</h2>
	<br/>
		<form name="search" method="get" action="members.html" id="search">
            <div class="search left">
		    	<input ng-model="searchMbr" type="text" value="keywords" name="keyword" class="s0" /><br>
			    <select name="title" class="s2 0" ng-model="selectedMbr"
					ng-options="member.name for member in members | filter:searchMbr ">
			    </select>
			    <br>
			    <input type="submit" name="search" value="Search Members" class="button marT5" />
			    <input type="hidden" name="page" value="members" />
            </div>
		</form>
	<br/><br/>
    <br/><br/>
 <div class="product-list">
	<a class="pages" href="members.html">&lt;prev</a>
	&nbsp;|&nbsp;
	<a class="pages" href="members.html">next&gt;</a>
	<table>
		<tr>
			<th>Member ID</th><th>Name</th><th>City</th><th>Email</th>
		</tr>
		 <tr ng-repeat="member in members">
			<td>{{member.MbrID}}</td>
			<td><img ng-src="{{member.Img}}" />&nbsp{{member.name}} </td>
			<td>{{member.city}}</td>
			<td><img src="{{member.Img2}}" />&nbsp;{{member.email}}</td>

	</table>
	<br/>
	<a href="#addmember" class="abutton">&nbsp;&nbsp;&nbsp;Member Sign Up&nbsp;&nbsp;&nbsp;</a>

</div>
<br class="clear-all"/>
</div><!-- content -->
