
<div id="footer">
    <div class="footer">
        Copyright &copy; 2012 sweetscomplete.com. All rights reserved. <br/>
    <a href="#about">About Us</a>
    | <a href="#products">Products</a> |
         <a href="#specials">Specials</a> |
            <a href="#tabs">Tabs</a> |
               <a href="#contact">Contact Us</a> <br>
        <span class="contact">Tel: +44-1234567890&nbsp;
        Fax: +44-1234567891&nbsp;
        Email:sales@sweetscomplete.com</span>
    </div>
</div><!-- footer -->
